# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.myenv/  # 이름이 다르면 여기에 추가

# PyInstaller
#  Usually contains the executable result
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# pytype
.pytype/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# dotenv
.env
.env.*

# Local log/debug/output files
*.log
*.pot
*.mo
*.sqlite3
*.db
*.tgz
*.tar.gz
*.bak
*.tmp

# Output folders
output/
output/*.md
